{% extends "base.html" %}

{% block topbar %}

  <!-- By passing a valid access token here, we are able to display -->
  <!-- the user's images without having to download or prepare -->
  <!-- them ahead of time -->


  <div class="container">
    <h2>Hi <em><strong>{{me.first_name}}</strong> </em>! Here's your playlist</h2>

    <iframe src="https://embed.spotify.com/?uri=spotify:trackset:Sexy:{{songIDList}}" frameborder="0" allowtransparency="true" width="400" height="100"></iframe>

    <form class="form-search" action="/input_friends" method="post">
      <input type="text" name='friend_input' id='friend_input' class="input-large search-query" placeholder="Type Friend's name">
      <button type="submit" class="btn">Add his/her music</button>
    </form>
    
    <div id="share-app">
      <ul>
        <li>
          <a href="#" class="facebook-button" id="postToWall" data-url="{{ url }}">
            <span class="plus">Post to my Wall</span>
          </a>
        </li>
        <li>
          <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
            <span class="apprequests">Invite Friends</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}



{% block content %}
<section class="clearfix" id="samples">
      <h2>Here's what facebook also told us:</h2>
      <!--      
      <div class="list">
        <h3>A few of your friends</h3>
        <ul class="friends">{% for friend in friends.data %}
        <li>
          <a href="#" onclick="window.open('http://www.facebook.com/{{friend.id}}')">
            <img src="https://graph.facebook.com/{{friend.id}}/picture" alt="{{friend.name}}">
            {{friend.name}}
          </a>
        </li>{% endfor %}</ul>
      </div>
      
      <div class="list inline">
        <h3>Recent photos</h3>
        <ul class="photos">
          {% for photo in photos.data %}
            {% if loop.index0%4 == 0 %}
          <li class="first-column" style="background-image: url({{photo.picture}})">
            {% else %}
          <li style="background-image: url({{photo.picture}})">
            {% endif %}
            <a href="#" onclick="window.open('http://www.facebook.com/{{photo.id}}')">
              {{photo.name}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      -->
      <div class="list">
        <h3>Artists you like</h3>
        <ul class="things">{% for like in music.data %}
        <li>
          <a href="#" onclick="window.open('http://www.facebook.com/{{like.id}}')">
            <img src="https://graph.facebook.com/{{like.id}}/picture?type=square" alt="{{like.name}}">
            {{like.name}}
          </a>
        </li>{% endfor %}</ul>
      </div>
      <div class="list">
        <h3>Friends using our app</h3>
        <ul class="friends">{% for friend in app_friends %}
        <li>
          <a href="#" onclick="window.open('http://www.facebook.com/{{friend.uid}}')">
            <img src="https://graph.facebook.com/{{friend.uid}}/picture?type=square" alt="{{friend.name}}">
            {{friend.name}}
            </a>
        </li>{% endfor %}</ul>
      </div>
    </section>
{% endblock%}
